spring:
  datasource:
    url: jdbc:mysql://<MYSQL_HOST>:3306/modaexpress?useSSL=false&serverTimezone=UTC
    username: <DB_USER>
    password: <DB_PASSWORD>
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  data:
    mongodb:
      uri: mongodb://<MONGO_USER>:<MONGO_PASSWORD>@<MONGO_HOST>:27017/modaexpress
      # Alternativamente: host/port/database properties individuales
flyway:
  enabled: true
  locations: classpath:db/migrations
logging:
  level:
    root: INFO
server:
  port: 8080
